# IDE Configurations
.vscode/
.idea/
.DS_Store

# Logs
*.log
.system_generated/

# OS files
Thumbs.db

# Environments
venv/
.env
__pycache__/
*.pyc
# Media & Large Files
*.mp4
# Debug renders
page_*.png
proposal/page_*.png
